.menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity 0.75s;
}

.editable-button{
  margin: 0 0.1em;
  
  background-color: #efefef;
  padding: 2px 6px;
  border: 1px solid #767676;
  border-radius: 2px;
  font-size: 0.9em;
}